.trans--grow-200px {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 0;
}

.grow-200px {
    width: 200px;
}

.trans--grow-400px {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 0;
}

.grow-400px {
    width: 400px;
}

.trans--grow-150px {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.grow-150px {
    width: 150px;
}

.class-desc {
    padding-left: 50px;
    padding-right: 50px;
}

.title-hr {
    padding-top: 1px;
    border: none;
    background-color: darkblue;
}

.title-bar {
    padding: 5px;
    margin-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.section-title {
    margin-bottom: 30px;
}

.down-arrow {
    color: gray;
}

.footer {
    padding: 5px;
}

.no-margins {
    margin: 0;
}

.award-wins {
    font-size: 15pt;
}

/*Hamburger*/
#nav-icon3 {
  width: 30px;
  height: 20px;
  top: 25px;
  right: 24px;
  z-index: 1003;
  position: fixed;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 0px;
  opacity: 1;
  left: 0;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*Menu Styling*/
#slide-out {
    z-index: 1003;
    position: fixed !important;
    font-family: Lato;
    text-transform: uppercase; 
}

#logo-container {
    height: 100px;
    margin-bottom: 32px;
    padding-top: 10px; 
    background-color: white;
}

#front-page-logo {
    display: inline-block;
    pointer-events: none;
    margin:auto;
    display:block;
    width: 100px;
    height: 100px;
}

.bold>a {
    font-weight: bold;
}

/*keeps scrollbar from disappearing
html {
       overflow-y: scroll;
}*/
.lhsfooter{
    background-color: #1565C0 !important;
}
.lhscrumbs{
    color: #1565C0 !important;
}
.lhscrumbs:before{
    color: #1565C0 !important;
}


.border-img {
    margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
    #state {
        padding-right: 100px;
    }
}

#x {
    font-size: 75px;
    color: indianred;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    float: right;
    margin-left: auto;
    left: auto;
    right: auto;
    padding-right: 20px;
    margin-top: -20px;
 
}

#x:hover {
    color: #cc0000;
}

@media screen and (min-width: 375px) {
    #x {
        padding-left: 20px;
    }
}

.exit-btn {
    margin-top: 20px;
    background-color: indianred;
}

.exit-btn:hover {
    background-color: #cc0000;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

/*.link-anchor{
    padding-top: 65px;
    margin-top: -65px;
}*/

.content {
    position:absolute;
    top: 77.77px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}

.title-bar {
    height: 77.77px !important;
}

.content::-webkit-scrollbar {
    width: 7px;
}

.content::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

/* Track */
.content::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 2px;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0px;
    min-height: 28px;
    padding: 100px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:click {
    background: #555; 
}